
.imgprofile {

    padding-top: 10px;
    padding-bottom: 10px;
}

.toptitle {

    padding-top: 0px;
    
}

.toptitle2 {

    margin-top: 3px;
    
}

.marginbottom {

    margin-bottom: 7px;
    
}

.cinzelfont {
    font-family: 'Cinzel Decorative', cursive;
}

.rbarresize {
  display: block;
  max-width: 100%;  
  height: auto;
  
}

.backgslide {
    background: linear-gradient(#0f3db3, #f2f2f2);
}
.backgbody {
    background: linear-gradient(#0c5e91, #b4e4fe);
}

.whitefont {
    color: aliceblue;
}

.bluebg {
    background: rgb(23, 61, 143);
}